{# 

Actions:

woocommerce_before_shop_loop(shop-toolbar.twig)
* @hooked woocommerce_output_all_notices - 10 - MOVED TO woocommerce_before_main_content
* @hooked woocommerce_result_count - 20
* @hooked woocommerce_catalog_ordering - 30 - MOVED TO 10

#}

<div id="ShopToolbar" class="uk-section uk-section-muted uk-padding-small uk-section-small uk-margin-bottom">
  <div class="uk-flex-middle" uk-grid>
    {% do action('woocommerce_before_shop_loop') %}
    <div id="GridList" class="uk-width-auto" uk-grid>
      {% if grid_list == 'list-view' %}
        {% set list_active_class = 'uk-active' %}
      {% else %}
        {% set list_active_class = 'not-active' %}
      {% endif %}
      {% if grid_list == 'grid-view' %}
        {% set grid_active_class = 'uk-active' %}
      {% else %}
        {% set grid_active_class = 'not-active' %}
      {% endif %}
      <div class="uk-width-auto">
        <div class="uk-inline">
          <div>
            <a href="{{ function ('add_query_arg', 'grid_list', 'grid-view', '') }}" class="grid-toggle uk-button uk-button-primary {{ grid_active_class }}"><span uk-icon="grid"></span></a>
          </div>
        </div>
        <div class="uk-inline">
          <div>
            <a href="{{ function ('add_query_arg', 'grid_list', 'list-view', '') }}" class="list-toggle uk-button uk-button-primary {{ list_active_class }}"><span uk-icon="icon: table; ratio: 1.1"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>