{# 

Actions:

woocommerce_archive_description
* @hooked woocommerce_taxonomy_archive_description - 10
* @hooked woocommerce_product_archive_description - 10

#}

<div id="ShopArchiveDescription" class="uk-margin-bottom">
  {% do action('woocommerce_archive_description') %}
</div>