<div id="HeaderSearch" class="uk-navbar-center navbar-extend">
  
  <div class="uk-width-1-1">
    <form class="uk-search uk-width-1-1">
      <a href="" class="uk-search-icon-flip uk-button uk-button-secondary" style="color:#fff;border-radius: 5px;margin: 2px;padding: 0 20px;" uk-search-icon></a>
      <input class="uk-input uk-search-input uk-width-1-1" type="search" style=" border-radius: 5px;" placeholder="Search...">
      <div uk-drop="mode: click;offset: -2;pos: bottom-justify">
        <div class="uk-card uk-card-body uk-card-default uk-card-small">
          <h4 class="uk-card-title uk-text-bold">Quick Links (In WP using AJAX, dynamic live search results to appear here when typing)</h4>
          <ul class="uk-list uk-list-divider">
            <li><a href="#" class="uk-button uk-button-link uk-text-bold">New Arrivals</a></li>
            <li><a href="#" class="uk-button uk-button-link uk-text-bold">Best Sellers</a></li>
            <li><a href="#" class="uk-button uk-button-link uk-text-bold">Most Searched</a></li>
            <li><a href="#" class="uk-button uk-button-link uk-text-bold">Sale Items</a></li>
          </ul>
        </div>
      </div>
    </form>
  </div>
  
</div> 