{% extends 'base.twig' %}

{% block content %}

<div class="uk-section uk-section-small" data-template="archive.twig">
  <div class="uk-container uk-container-large">
    <div class="uk-grid-large" uk-grid>
			
			{% include 'sidebar-shop.twig' %}

      <div id="MainProductArchive" class="uk-article uk-width-5-6@m">

				<div class="products-archive">

					<div class="breadcrumbs-notices-section uk-margin-bottom">
				    {% do action('woocommerce_before_main_content') %}
            <!-- <p class="uk-text-meta">breadcrumbs & notices hooked in here, removed wrapper. see woo-functions.php</p> -->
				  </div>
					
					<h1 class="uk-article-title">{{title}}</h1>
          <!-- <p class="uk-text-meta">the archive title</p> -->

          <!-- <p class="uk-text-meta">the product toolbar - before_shop_loop hook actions changed, notices removed. see woo-functions.php</p> -->
				  <div class="uk-section uk-section-muted uk-padding-small uk-section-small uk-margin-bottom">
            <div class="uk-flex-middle" uk-grid>
				       {% do action('woocommerce_before_shop_loop') %}
				    </div>
          </div>

          <!-- <p class="uk-text-meta">the archive loop via twig, using tease-product.twig in uikit grid</p> -->
				  <div class="uk-margin-bottom">
				    <div class="uk-child-width-1-2@s uk-child-width-1-4@m" uk-grid="masonry: true">
				      {% for post in products %}
				        {% include ["tease-product.twig"] %}
				      {% endfor %}
				    </div>
				  </div>

				  <div class="">
				    {% do action('woocommerce_after_shop_loop') %}
				  </div>
				  
				  <!-- {% do action('woocommerce_after_main_content') %} -->
				  
				</div>

      </div>

    </div>
  </div>
</div>

{% endblock  %}