{% extends "base.twig" %}

{% block content %}

<div class="uk-section uk-section-small" data-template="archive.twig">
  <div class="uk-container">
    
    <!-- woocommerce_before_main_content - @hooked woocommerce_breadcrumb - 20 -->
    <div class="product-breadcrumbs-section uk-margin-bottom">
      {% do action('woocommerce_before_main_content') %}
    </div>

    <!-- woocommerce_before_single_product - @hooked wc_print_notices - 10 -->
    <div class="product-notices-section">
      {% do action('woocommerce_before_single_product') %}
    </div>

    <!-- the Product -->
    <div id="TheProduct" itemscope itemtype="http://schema.org/Product" class="single-product-details {{ post.class }}" uk-grid>

      <!-- the images -->
      <div class="entry-images uk-width-1-2@m">
        
        <!-- woocommerce_before_single_product_summary - woocommerce_show_product_sale_flash - 10, woocommerce_show_product_images - 20-->
        <div>
          {% do action('woocommerce_before_single_product_summary') %}
        </div>
          
      </div>

      <!-- woocommerce_single_product_summary - @hooked woocommerce_template_single_title - 5, woocommerce_template_single_rating - 10, woocommerce_template_single_price - 10, woocommerce_template_single_excerpt - 20, woocommerce_template_single_add_to_cart - 30, woocommerce_template_single_meta - 40, woocommerce_template_single_sharing - 50, WC_Structured_Data::generate_product_data() - 60 -->
      <div class="uk-width-1-2">
        {% do action('woocommerce_single_product_summary') %}
        {% do action('woocommerce_after_single_product_summary') %}
      </div>

      <meta itemprop="url" content="{{ post.link }}" />

    </div>

    <!-- <div class="uk-section uk-section-muted uk-section-small uk-padding uk-margin-bottom">
      <h4>Twig Related Products</h4>
      <div class="uk-child-width-1-4" uk-grid> 
        <h5>Related Products from Twig go here</h5>
      </div>
    </div> -->

    <!-- woocommerce_after_single_product -->
    <div class="after-product-section">
      {% do action('woocommerce_after_single_product') %}
    </div>
  
  </div>
</div>

{% endblock  %}