{# 

woocommerce_before_main_content hook. single-product.php
* @hooked woocommerce_output_content_wrapper - 10 (outputs opening divs for the content) REMOVED
* @hooked woocommerce_breadcrumb - 20

woocommerce_before_single_product. content-single-product.php
* @hooked wc_print_notices - 10 MOVED TO woocommerce_before_main_content

woocommerce_before_single_product_summary. content-single-product.php
* @hooked woocommerce_show_product_sale_flash - 10 REMOVED
* @hooked woocommerce_show_product_images - 20

woocommerce_single_product_summary. content-single-product.php
* @hooked woocommerce_template_single_title - 5
* @hooked woocommerce_template_single_rating - 10
* @hooked woocommerce_template_single_price - 10
* @hooked woocommerce_template_single_excerpt - 20
* @hooked woocommerce_template_single_add_to_cart - 30
* @hooked woocommerce_template_single_meta - 40
* @hooked woocommerce_template_single_sharing - 50
* @hooked WC_Structured_Data::generate_product_data() - 60

woocommerce_after_single_product_summary. content-single-product.php
* @hooked woocommerce_output_product_data_tabs - 10
* @hooked woocommerce_upsell_display - 15 MOVED TO woocommerce_after_single_product
* @hooked woocommerce_output_related_products - 20 MOVED TO woocommerce_after_single_product

woocommerce_after_single_product. content-single-product.php
* @hooked woocommerce_upsell_display - 10 MOVED TO HERE
* @hooked woocommerce_output_related_products - 20 MOVED TO HERE

woocommerce_after_main_content hook. single-product.php
* @hooked woocommerce_output_content_wrapper_end - 10 (outputs closing divs for the content) REMOVED

#}

{% extends "base.twig" %}

{% block content %}

<div class="uk-section uk-section-small" data-template="archive.twig">
  <div class="uk-container">
    
    <div class="product-breadcrumbs-section uk-margin-bottom">
      {% do action('woocommerce_before_main_content') %}
    </div>

    <div class="product-notices-section">
      {% do action('woocommerce_before_single_product') %}
    </div>

    <!-- the Product -->
    <div id="TheProduct" itemscope itemtype="http://schema.org/Product" class="single-product-details {{ post.class }}" uk-grid>

      <!-- the images -->
      <div class="entry-images uk-width-1-2@m">
        <div>
          {% do action('woocommerce_before_single_product_summary') %}
        </div>
          
      </div>

      <div class="uk-width-1-2">
        {% do action('woocommerce_single_product_summary') %}
        {% do action('woocommerce_after_single_product_summary') %}
      </div>

      <meta itemprop="url" content="{{ post.link }}" />

    </div>

    <div class="after-product-section uk-margin-large-top">
      {% do action('woocommerce_after_single_product') %}
    </div>
  
  </div>
</div>

{% endblock  %}